<div *ngFor="let field of field.fieldGroup; let i = index;" class="formly-card-field repeat-wrapper">
  <formly-field [field]="field"></formly-field>
  <button mat-icon-button type="button" (click)="remove(i)">
    <mat-icon>delete</mat-icon>
  </button>
</div>

<div *ngIf="!to.addFirstText || field.fieldGroup?.length > 0 else IsFirstClause">
  <button mat-button type="button" (click)="add()">
    <mat-icon color="warn" [inline]="true">add</mat-icon>
    {{ to.addText }}
  </button>
</div>

<ng-template #IsFirstClause>
  <button mat-button type="button" (click)="add()">
    <mat-icon color="warn" [inline]="true">settings</mat-icon>
    {{ to.addFirstText }}
  </button>
</ng-template>
