::ng-deep {
  .form-card {
    margin-bottom: 1.5rem;
    padding: 0 30px;
    background: white;
    box-shadow: 0 3px 2px 0 rgb(0, 0, 0, .15);

    &-title {
      grid-row: 1;
      padding: 20px 0;
      font-size: 2rem;
      font-weight: 700;
      color: #A9A9A9;
      opacity: 0.5;
      margin: 10px 0;
    }

    &-field {
      grid-row: 2;
      margin: 10px 0;
    }

    &-text {
      .mat-form-field-underline {
        background: transparent;
      }
    }
  }

  .grid {
    display: grid;
    grid-auto-columns: 320px;
    grid-column-gap: 30px;
  }

  .grid-row-1 {
    grid-row: 1;
  }

  .grid-row-2 {
    grid-row: 2;
  }

  .grid-row-3 {
    grid-row: 3;
  }

  .grid-col-1 {
    grid-column: 1;
  }

  .grid-col-2 {
    grid-column: 2;
  }

  .grid-col-3 {
    grid-column: 3;
  }

  .grid-col-max {
    grid-column: 1 / 5;
  }
}
